<section>
    <div class="row">
    
        <h1 id="mailing-lists">Mailing Lists</h1>

        <ul>
            <li>
                <p>Developers (dev @ lucenenet.apache.org) - the developers mailing list is used to discuss the technical future of Lucene.Net. This mailing list also recieves JIRA items and comments</p>
            </li>
            <li>
                <p>Users (user @ lucenenet.apache.org) - a list for general how-to questions and getting help from the community. Most (if not all) of our developers are also subscribed to this list</p>
            </li>
            <li>
                <p>Commits (commits @ lucenenet.apache.org) - to keep track of all source code submits to our repository.</p>
            </li>
        </ul>
        <p>To subscribe to the mailing lists, send an email to
            <em>list</em>-subscribe@lucenenet.apache.org. To unsubscribe, send an email to <em>list</em>-unsubscribe@lucenenet.apache.org.
        </p>
        <h2 id="archives">Archives</h2>
        <ul>
            <li>Developers
                <a href="http://mail-archives.apache.org/mod_mbox/lucenenet-dev/">starting with August 2012</a>
            </li>
            <li>Users
                <a href="http://mail-archives.apache.org/mod_mbox/lucenenet-user/">starting with August 2012</a>
            </li>
            <li>Commits
                <a href="http://mail-archives.apache.org/mod_mbox/lucenenet-commits/">starting with August 2012</a>
            </li>
        </ul>
        <h3 id="alternative-archives">Alternative Archives</h3>
        <ul>
            <li>
                <a href="http://markmail.org/search/?q=#query:%20list%3Aorg.apache.incubator.lucene-net-dev+page:1+state:facets">Developers Archive at Markmail</a>
            </li>
            <li>
                <a href="http://markmail.org/search/?q=#query:%20list%3Aorg.apache.incubator.lucene-net-user+page:1+state:facets">Users Archive at Markmail</a>
            </li>
        </ul>
        <h3 id="old-mailing-lists">Old Mailing Lists</h3>
        <ul>
            <li>Developers
                <a href="http://mail-archives.apache.org/mod_mbox/lucene-lucene-net-dev/">2006-August 2012</a>
            </li>
            <li>Users
                <a href="http://mail-archives.apache.org/mod_mbox/lucene-lucene-net-user/">2006-August 2012</a>
            </li>
            <li>Commits
                <a href="http://mail-archives.apache.org/mod_mbox/lucene-lucene-net-commits/">2006-August 2012</a>
            </li>
        </ul>
        <h1 id="source-code">Source Code</h1>

        <p>Apache Lucene.Net uses git as its source code management system. The official repository is
            <a href="https://git-wip-us.apache.org/repos/asf?p=lucenenet.git">https://git-wip-us.apache.org/repos/asf?p=lucenenet.git</a>
           can be cloned with a command like
        </p>
        <div class="codehilite">
            <pre>
                <span class="n">git</span> <span class="n">clone</span> <span class="n">https</span><span
                class="p">:</span><span class="o">//</span><span class="n">git</span><span class="o">-</span><span class="n">wip</span><span
                class="o">-</span><span class="n">us</span><span class="p">.</span><span class="n">apache</span><span class="p">.</span><span
                class="n">org</span><span class="o">/</span><span class="n">repos</span><span class="o">/</span><span class="n">asf</span><span
                class="o">/</span><span class="n">lucenenet</span><span class="p">.</span><span class="n">git</span>
            </pre>
        </div>


        <p>There also is a
            <a href="https://github.com/apache/lucene.net">mirror at github</a>
           that is synced from the Apache repository.
        </p>
        <p>Most work currently happens on the branch named
            <a href="https://git-wip-us.apache.org/repos/asf?p=lucenenet.git;a=shortlog;h=refs/heads/branch_4x">branch_4x</a>
           .
        </p>
        <h1 id="wiki">Wiki</h1>

        <p>Tutorials, Links, and other various bits of information can be found in the
            <a href="https://cwiki.apache.org/LUCENENET/">Lucene.Net Wiki</a>
           .
        </p>
        <h1 id="issue-tracker-jira">Issue Tracker (JIRA)</h1>

        <p>Follow what we are working on, help us by submitting patches, or submit your own enhancement or bug requests at our issue tracker:
            <a href="https://issues.apache.org/jira/browse/LUCENENET">Lucene.Net JIRA</a>
        </p>
    </div>

</section>