<section class="contributing">

    <div class="row">

        <h3>Contributing to Lucene.NET</h3>

        <!--
            Note, I have copied this layout from http://hapijs.com/contribute
        -->
        <p>
            If you're interested in helping out, here's a list of currently open issues that would be a great place to start.

            Make sure to read the <a href="/styleguide">style guide</a> before you write any code.

            For further information about the Lucene.NET community, see the

            <a href="/governance">governance</a>
           and
            <a href="/operating">operating guidelines</a>
           .
        </p>

        <p>
            Please note, there are placeholders to hapijs issues! These aren't for lucene.NET ;-)

        </p>

        <p>
            <h4>Notesfrom Prescott Nasser:</h4>
            PMC
            Roles, Rules, Processes
            New Committers (vote and process after to complete)
            New PMC Member (vote, and process after to complete)
            Board Reports
            Committers
            How to update the website
            How to handle git apache mirror at github (https://mahout.apache.org/developers/github.html)
            Contributors
            How to submit a pull request / get involved (CLA, ICLA)
            General
            How to join mailing lists
            Current state of the Lucene.Net world
            Guides
            Explaining the structure of Lucene.Net - analyzers, parsers, etc.
            Simple How to
            Complete how to
            Explain
        </p>
    </div>

    <div class=" cf">
        <div class="row">
            <div class="col-lg-6">
                    <div class="column new-contributor-issues">
                        <header class="cf">
                            <h4 class="pull-left">Issues for new contributors</h4>

                            <a href="https://github.com/hapijs/hapi/issues?q=is%3Aopen+is%3Aissue+label%3A%22new+contributor%22"
                               title="See all issues for new contributors"
                               class="pull-right">See all
                            </a>

                        </header>
                        <ul class="unstyled">
                            <li>
                                <p class="issue-number">
                                    <a href="https://github.com/hapijs/good/issues/254">#254</a>
                                </p>
                                <p class="issue-title">(good) Clean up Tests</p>
                            </li>
                            <li>
                                <p class="issue-number">
                                    <a href="https://github.com/hapijs/good/issues/251">#251</a>
                                </p>
                                <p class="issue-title">(good) Create Standard Event</p>
                            </li>
                            <li>
                                <p class="issue-number">
                                    <a href="https://github.com/hapijs/catbox/issues/112">#112</a>
                                </p>
                                <p class="issue-title">(catbox) Allow timezone to be specified for expiresAt values</p>
                            </li>
                        </ul>
                    </div>

            </div>


            <div class="col-lg-6">

                <div class="column help-wanted-issues">
                    <header class="cf"><h4 class="pull-left">Help wanted</h4>
                        <a href="https://github.com/hapijs/hapi/issues?q=is%3Aopen+is%3Aissue+label%3A%22help+wanted%22"
                           title="See all issues where help is wanted"
                           class="pull-right">See all
                        </a>
                    </header>
                    <ul class="unstyled">
                        <li>
                            <p class="issue-number">
                                <a href="https://github.com/hapijs/lout/issues/58">#58</a>
                            </p>
                            <p class="issue-title">(lout) Interactive UI to query APIs (swagger-like)</p>
                        </li>
                        <li>
                            <p class="issue-number">
                                <a href="https://github.com/hapijs/joi/issues/441">#441</a>
                            </p>
                            <p class="issue-title">(joi) EnJoiable Documentation for ".describe()"</p>
                        </li>
                        <li>
                            <p class="issue-number">
                                <a href="https://github.com/hapijs/joi/issues/211">#211</a>
                            </p>
                            <p class="issue-title">(joi) describe(); Doesn't give much information on alternatives</p>
                        </li>
                    </ul>
                </div>

            </div>

        </div>
    </div>



</section>