<section>
    <div class="row">
        <h1 id="apache-lucenenet-303-oct-10-2012">Apache Lucene.Net 3.0.3 - Oct 10, 2012</h1>

        <p>Use the links below to download the Lucene.Net from one of our mirrors.</p>
        <h3 id="mirror">Mirror</h3>

        <p> The currently selected mirror is
            <strong>http://www.interior-dsgn.com/apache/</strong>. If you encounter a problem with this mirror, please select another mirror. If all mirrors are failing, there are
            <em>backup</em> mirrors (at the end of the mirrors list) that should be available.
        </p>
        <form action="/download.cgi" method="get" id="SelectMirror">Other mirrors:<select name="Preferred">
            <option value="http://www.interior-dsgn.com/apache/">http://www.interior-dsgn.com/apache/</option>
            <option value="http://apache.arvixe.com/">http://apache.arvixe.com/</option>
            <option value="http://apache.osuosl.org/">http://apache.osuosl.org/</option>
            <option value="http://apache.spinellicreations.com/">http://apache.spinellicreations.com/</option>
            <option value="http://apache.mirrors.lucidnetworks.net/">http://apache.mirrors.lucidnetworks.net/</option>
            <option value="http://www.motorlogy.com/apache/">http://www.motorlogy.com/apache/</option>
            <option value="http://mirror.metrocast.net/apache/">http://mirror.metrocast.net/apache/</option>
            <option value="http://mirrors.gigenet.com/apache/">http://mirrors.gigenet.com/apache/</option>
            <option value="http://mirror.reverse.net/pub/apache/">http://mirror.reverse.net/pub/apache/</option>
            <option value="http://mirrors.advancedhosters.com/apache/">http://mirrors.advancedhosters.com/apache/</option>
            <option value="http://mirror.symnds.com/software/Apache/">http://mirror.symnds.com/software/Apache/</option>
            <option value="http://www.webhostingjams.com/mirror/apache/">http://www.webhostingjams.com/mirror/apache/</option>
            <option value="http://psg.mtu.edu/pub/apache/">http://psg.mtu.edu/pub/apache/</option>
            <option value="http://mirror.cc.columbia.edu/pub/software/apache/">http://mirror.cc.columbia.edu/pub/software/apache/</option>
            <option value="http://apache.mirrors.pair.com/">http://apache.mirrors.pair.com/</option>
            <option value="http://apache.petsads.us/">http://apache.petsads.us/</option>
            <option value="http://apache.claz.org/">http://apache.claz.org/</option>
            <option value="http://mirrors.koehn.com/apache/">http://mirrors.koehn.com/apache/</option>
            <option value="http://download.nextag.com/apache/">http://download.nextag.com/apache/</option>
            <option value="http://apache.tradebit.com/pub/">http://apache.tradebit.com/pub/</option>
            <option value="http://www.eng.lsu.edu/mirrors/apache/">http://www.eng.lsu.edu/mirrors/apache/</option>
            <option value="http://www.carfab.com/apachesoftware/">http://www.carfab.com/apachesoftware/</option>
            <option value="http://www.gtlib.gatech.edu/pub/apache/">http://www.gtlib.gatech.edu/pub/apache/</option>
            <option value="http://apache.cs.utah.edu/">http://apache.cs.utah.edu/</option>
            <option value="http://mirrors.ibiblio.org/apache/">http://mirrors.ibiblio.org/apache/</option>
            <option value="http://mirror.tcpdiag.net/apache/">http://mirror.tcpdiag.net/apache/</option>
            <option value="http://mirrors.sonic.net/apache/">http://mirrors.sonic.net/apache/</option>
            <option value="http://www.trieuvan.com/apache/">http://www.trieuvan.com/apache/</option>
            <option value="http://supergsego.com/apache/">http://supergsego.com/apache/</option>
            <option value="http://mirror.olnevhost.net/pub/apache/">http://mirror.olnevhost.net/pub/apache/</option>
            <option value="http://mirror.sdunix.com/apache/">http://mirror.sdunix.com/apache/</option>
            <option value="http://apache.mirrors.hoobly.com/">http://apache.mirrors.hoobly.com/</option>
            <option value="http://mirror.cogentco.com/pub/apache/">http://mirror.cogentco.com/pub/apache/</option>
            <option value="http://apache.mirrors.tds.net/">http://apache.mirrors.tds.net/</option>
            <option value="http://mirror.nexcess.net/apache/">http://mirror.nexcess.net/apache/</option>
            <option value="http://apache.mesi.com.ar/">http://apache.mesi.com.ar/</option>
            <option value="ftp://apache.cs.utah.edu/apache.org/">ftp://apache.cs.utah.edu/apache.org/</option>
            <option value="ftp://apache.mirrors.tds.net/pub/apache.org/">ftp://apache.mirrors.tds.net/pub/apache.org/</option>
            <option value="ftp://mirror.reverse.net/pub/apache/">ftp://mirror.reverse.net/pub/apache/</option>
            <option value="ftp://apache.mirrors.pair.com/">ftp://apache.mirrors.pair.com/</option>
            <option value="ftp://ftp.osuosl.org/pub/apache/">ftp://ftp.osuosl.org/pub/apache/</option>
            <option value="http://www.eu.apache.org/dist/">http://www.eu.apache.org/dist/ (backup)</option>
            <option value="http://www.us.apache.org/dist/">http://www.us.apache.org/dist/ (backup)</option>
        </select><input type="submit" value="Change"></form>
        You may also consult the
        <a href="http://www.apache.org/mirrors/">complete list of mirrors</a>
        .
        <p></p>
        <ul>
            <li>
                <a href="http://www.interior-dsgn.com/apache//lucenenet/Apache-Lucene.Net-3.0.3-RC2.bin.zip">Binary</a>
                /
                <a href="http://archive.apache.org/dist/lucenenet/Apache-Lucene.Net-3.0.3-RC2.bin.zip.asc">PGP Signature</a>
                /
                <a href="http://archive.apache.org/dist/lucenenet/Apache-Lucene.Net-3.0.3-RC2.bin.zip.sha1">SHA1 Checksum</a>
                /
                <a href="http://archive.apache.org/dist/lucenenet/Apache-Lucene.Net-3.0.3-RC2.bin.zip.md5">MD5 Checksum</a>
            </li>
            <li>
                <a href="http://www.interior-dsgn.com/apache//lucenenet/Apache-Lucene.Net-3.0.3-RC2.src.zip">Source</a>
                /
                <a href="http://archive.apache.org/dist/lucenenet/Apache-Lucene.Net-3.0.3-RC2.src.zip.asc">PGP Signature</a>
                /
                <a href="http://archive.apache.org/dist/lucenenet/Apache-Lucene.Net-3.0.3-RC2.src.zip.sha1">SHA1 Checksum</a>
                /
                <a href="http://archive.apache.org/dist/lucenenet/Apache-Lucene.Net-3.0.3-RC2.src.zip.md5">MD5 Checksum</a>
            </li>
        </ul>
        <p>Note: RC2 was the release that we voted to pass - those are the release artifacts</p>
        <h1 id="cutting-edge-source-tree">Cutting Edge Source Tree</h1>
        <ul>
            <li>
                <a href="https://git-wip-us.apache.org/repos/asf?p=lucenenet.git">3.6 development</a>
            </li>
            <li>
                <a href="https://git-wip-us.apache.org/repos/asf?p=lucenenet.git;a=shortlog;h=refs/heads/branch_4x">4.x development</a>
            </li>
        </ul>
        <p>see also
            <a href="community.html#source-code">the source code section on the community page</a>
           .
        </p>
        <h1 id="release-archives">Release Archives</h1>

        <p>All old releases can be downloaded from the ASF's
            <a href="http://archive.apache.org/dist/lucenenet/">distribution archive</a>
           .
        </p>
        <h2 id="tags-of-the-source-tree">Tags of the Source Tree</h2>
        <ul>
            <li>
                <a href="https://git-wip-us.apache.org/repos/asf?p=lucenenet.git;a=shortlog;h=refs/tags/Lucene.Net_3_0_3_RC2_final">3.0.3 Source</a>
            </li>
            <li>
                <a href="https://git-wip-us.apache.org/repos/asf?p=lucenenet.git;a=commit;h=72be2253c9e6dbaeefca3ccdb9ba146b71848927">2.9.4g Source</a>
            </li>
            <li>
                <a href="https://git-wip-us.apache.org/repos/asf?p=lucenenet.git;a=commit;h=38aff4627fa4336cec354ae76621a0ed24ed8b35">2.9.4 Source</a>
            </li>
            <li>
                <a href="https://git-wip-us.apache.org/repos/asf?p=lucenenet.git;a=tags">Older Releases</a>
            </li>
        </ul>
        <h1 id="verify">Verify the integrity of the files</h1>

        <p>It is essential that you verify the integrity of the downloaded files using the PGP or MD5 signatures. Please read
            <a href="http://httpd.apache.org/dev/verification.html">Verifying Apache HTTP Server Releases</a>
           for more information on why you should verify our releases.
        </p>
        <p>The PGP signatures can be verified using PGP or GPG. First download the
            <a href="http://www.apache.org/dist/lucenenet/KEYS">KEYS</a>
           as well as the
            <code>asc</code> signature file for the relevant distribution. Make sure you get these files from the
            <a href="http://www.apache.org/dist/lucenenet/">main distribution directory</a>
           , rather than from a mirror. Then verify the signatures using
        </p>
        <p><code>% pgpk -a KEYS<br><br>% pgpv Apache-Lucene.Net-3.0.3-RC2.src.zip.asc<br><br></code> <em>or</em>
            <br><br><code>% pgp -ka KEYS<br><br>% pgp Apache-Lucene.Net-3.0.3-RC2.src.zip.asc<br><br></code>
            <em>or</em>
            <br><br><code>% gpg --import KEYS<br><br>% gpg --verify Apache-Lucene.Net-3.0.3-RC2.src.zip.asc</code>
        </p>
        <p>Alternatively, you can verify the MD5 or SHA1 signature on the files. A unix program called
            <code>md5</code> or
            <code>md5sum</code> is included in many unix distributions. It is also available as part of
            <a href="http://www.gnu.org/software/textutils/textutils.html">GNU Textutils</a>
           . Windows users can get binary md5 programs from
            <a href="http://www.fourmilab.ch/md5/">here</a>
           ,
            <a href="http://www.pc-tools.net/win32/freeware/console/">here</a>
           , or
            <a href="http://www.slavasoft.com/fsum/">here</a>
           . An MD5 signature consists of 32 hex characters, and a SHA1 signature consists of 40 hex characters. Ensure your generated signature string matches the signature string published in the files above.
        </p>

    </div>

</section>