<section>
    <div class="row">

        <h1 id="theoretical-underpinnings">Theoretical Underpinnings</h1>
        <ul>
            <li><a href="http://lucene.sourceforge.net/talks/pisa/" rel="nofollow">Lucene - By Doug Cutting (2004)</a></li>
            <li><a href="http://lucene.sourceforge.net/talks/inktomi/" rel="nofollow">The Lucene Search Engine - By Doug Cutting (2000)</a></li>
        </ul>

        <h1 id="lucene-java-resources-ideas-are-relevant-to-lucenenet">Lucene Java Resources (ideas are relevant to Lucene.Net)</h1>
        <ul>
            <li><a href="http://wiki.apache.org/lucene-java/LuceneFAQ">Lucene Java FAQ</a> - tons of general information on using Lucene, most relevant to Lucene.Net as well</li>
            <li><a href="http://wiki.apache.org/jakarta-lucene/BasicsOfPerformance">Basics of Performance</a> - a number of performance tweaks</li>
            <li><a href="http://wiki.apache.org/lucene-java/ScoresAsPercentages">Scores as Percentages</a> or why you shouldn't do that</li>
        </ul>
        <h1 id="getting-started-with-simone-chiaretta">Getting Started with Simone Chiaretta</h1>
        <ol>
            <li><a href="http://codeclimber.net.nz/archive/2009/08/27/how-to-get-started-with-lucene.net.aspx" rel="nofollow">How to get started with Lucene.Net</a></li>
            <li><a href="http://codeclimber.net.nz/archive/2009/08/31/lucene.net-the-main-concepts.aspx" rel="nofollow">The Main Concepts</a></li>
            <li><a href="http://codeclimber.net.nz/archive/2009/09/02/lucene.net-your-first-application.aspx" rel="nofollow">Your First Application</a></li>
            <li><a href="http://codeclimber.net.nz/archive/2009/09/04/dissecting-lucene.net-storage-documents-and-fields.aspx" rel="nofollow">Dissecting Storage Documents and Fields</a></li>
            <li><a href="http://codeclimber.net.nz/archive/2009/09/08/lucene-or-how-i-stopped-worrying-and-learned-to.aspx" rel="nofollow">Lucene - or how I stopped worrying and learned to love unstructured data</a></li>
            <li><a href="http://codeclimber.net.nz/archive/2009/09/10/how-subtext-lucene.net-index-is-structured.aspx" rel="nofollow">How Subtext Lucene.Net index is structured</a></li>
        </ol>
    </div>

</section>