<section>
    <div class="row">

        <h1 id="downloading-the-code">Downloading the Code</h1>
        <p>See the <a href="download.cgi">download page</a> for the latest releases.  This release is also <a href="http://www.nuget.org/packages/Lucene.Net/">available via NuGet</a>.</p>
        <p>If you want to use the current development code base, you can clone our git repository - see the <a href="community.html">community page</a>.</p>
        <h1 id="incorporating-into-your-application">Incorporating into your application</h1>
        <h1 id="further-resources">Further Resources</h1>

    </div>

</section>